{% extends 'base.html' %}

{% block content %}

<h2>{{data.name}}</h2>
{% if data %}

<div>
    <strong>{{ data.bio }}</strong></br></br>
    <ul>
        <li>
            {% for it in recipe %}
        </li>
        <a href="/detail/{{it.id}}">{{ it.title }} </a>
        <li>
            {% endfor %}
        </li>
    </ul>
</div>

<div>
    <h1>Favorites</h1>
    <ul>
        {% for favorite in favorites %}
            <li>
                <a href="/detail/{{favorite.id}}">
                    {{favorite}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


{% else %}
<h3>oops</h3>
{% endif %}

{% endblock %}